.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}
.perfil img{
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 100%;
    margin-right: 0.8rem;
    border: black solid 2px;
}
.perfil div{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 30%;
    gap: 0.5rem;
    text-align: center;
    line-break:initial;
}
.perfil div h3{
    font-size: 1rem;
    white-space: nowrap;
    font-weight: 500;
    width: 100%;
}
.perfil div span{
    font-size: 0.9rem;
    width: 100%;
    font-weight: 400;

    white-space: nowrap;
}
