.user{
   
}
.user h2{
    font-size: 80%;
    font-weight: 500;
    height: 80%
}
.user p{
    height: 80%;
    font-size: 75%;
    font-weight: 400;
}


/* _______________________________________________ */

.daniel{
    background-color: #733fc8;
    color: #fff5ff;
}
.daniel .perfil img{
    border: solid #a274ef 3px;
}
.daniel .perfil div h3{
    color: #fff7ff;
}
.daniel .perfil div span{
    color: #c19ff6;
}
.daniel p{
    color: #b59cd2;
}

/* _______________________________________________ */

.jonathan{
    background-color: #49556b;
    grid-area: "jonathanl";
}
.jonathan .perfil img{
    border: solid transparent 2px;
}
.jonathan .perfil h3{
   color: #feffff; 
}
.jonathan .perfil span{
    color:#8f98a9  ;
}
.jonathan h2{
    color: #ffffff;
}
.jonathan p{
    color: #ced6e4;
}

/* _______________________________________________ */

.jeanette{
    background-color: #ffffff;
    grid-area: "jeanette";
}
.jeanette .perfil img{
    border: solid transparent 2px;
}
.jeanette .perfil h3{
    color: #505561;
}
.jeanette .perfil span{
    color: #9ea2a9;
}
.jeanette h2{
    color: #49556d;
}
.jeanette p{
    color: #808792;
}

/* _______________________________________________ */

.patrick{
    background-color: #18202d;
    grid-area: "patrick";

}
.patrick .perfil img{
    border: solid #7040be 3px;
}
.patrick .perfil h3{
    color: #faffff;
}
.patrick .perfil span{
    color: #878c98;
}
.patrick h2{
    color: #eaf0f5;
}
.patrick p{
    color: #b8bdc2;
}

/* _______________________________________________ */

.kira{
    background-color: #ffffff;
    grid-area: "kira";
}
.kira .perfil img{
    border: solid transparent 2px;
}
.kira .perfil h3{
    color: #505561;
}
.kira .perfil span{
    color: #9ea2a9;
}
.kira h2{
    color: #49556d;
}
.kira p{
    color: #808792;
}